<div class="container">

<h1>Merchants A-Z</h1>

<table class="merchant_table">
<% for merchant in @merchants %>
  <tr>
    <td class="merchant_link"><a href="/merchants/<%=merchant.id %>"><%= merchant.name %></a>
  </tr>
<% end %>
</table>

<h4> <a href="/merchants/new"> <i class="material-icons">add</i>Add a new merchant</a> </h4>

</div>
