<h1>Add a new merchant</h1>

<form method="post" action="/merchants">
  <label for="name">Merchant name:</label>
    <input id="name" type="text" name="name" />

  <input type="submit" value="Add merchant" />

</form>
