<div class="container">

<h1>Cash Machine</h1>

<h4>Welcome</h4>

<p>Cash Machine allows you to track your spending and manage all of your expenditure in one place. You'll be easily able to see where, when, and how you spent your money.</p>

</div>
