<div class="container">

<div class="welcome">
<h1>Cash Machine</h1>

<h3>Welcome</h3>

<p class="intro">Cash Machine allows you to track your spending and manage all of your expenditure in one place. You'll be easily able to see where, when, and how you spent your money.</p>

<div class="image_links">
  <a href="/transactions/new"><div class="item">
    <img src="/images/new.png" height=8% width=8%>
    <span class="caption">Add transaction</span>
  </div></a>
  <a href="/transactions"><div class="item">
    <img src="/images/transactions.png" height=8% width=8%>
    <span class="caption">My transactions</span>
  </div></a>
  <a href="/tags"><div class="item">
    <img src="/images/tag.png" height=8% width=8%>
    <span class="caption">Tags</span></a>
  </div>
  <a href="/merchants"><div class="item">
    <img src="/images/merchant4.png" height=8% width=8%>
    <span class="caption">Merchants</span></a>
  </div>

</div>
</div>



</div>
