<div class="container">

<h1>Tags A-Z</h1>

<table class="merchant_table">
<% for tag in @tags %>
  <tr>
    <td class="merchant_link"><a href="/tags/<%=tag.id %>"><%= tag.name %></a>
  </tr>
<% end %>
</table>

<h4> <a href="/tags/new"> <i class="material-icons">add</i>Create a custom tag</a> </h4>

</div>
