<h1>Tags</h1>

<% for tag in @tags %>
  <p><strong>Name:</strong> <a href="/tags/<%=tag.id %>"><%= tag.name %></a> (<a href="/tags/<%=tag.id  %>/edit">Edit</a>)</p>
  <p><form action="/tags/<%= tag.id %>/delete" method="POST">
      <input type="submit" value="Delete" /></p>
<% end %>

<p> <a href="/tags/new"> Create a custom tag</a> </p>
