<div class="container">

<h1>Create a custom tag</h1>

<form method="post" action="/tags">
  <label for="name">Name your custom tag<span class="required">*</span></label>
    <input id="name" type="text" name="name" />

<br>

  <input class="submit" type="submit" value="Create tag" />

</form>

</div>
