<h1>Create a custom tag</h1>

<form method="post" action="/tags">
  <label for="name">Name your custom tag:</label>
    <input id="name" type="text" name="name" />

  <input type="submit" value="Create tag" />

</form>
