<h1>Transactions</h1>

<table>
  <tr>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant().name %></a></td>
    <td><%=transaction.tag().name  %></td>
    <td>£<%= transaction.amount %></td>
  </tr>
  <% end %>
</table>

<p> <a href="/transactions/new"> Add a new transaction</a> </p>
