<div class="container">
  
<h1>New transaction</h1>

<form action="/transactions" method="post">

  <label>
  Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </label>

  <label for="amount">Amount £:</label>
  <input id="amount" type="number" step="0.01" name="amount" placeholder="0.00" required/>

  <label for="timestamp">Date:</label>
  <input type="date" name="timestamp" id="timestamp" required/>

  <input type='submit' value="Add transaction">

</form>

</div>
